.Home {
    text-align: center;
    float: left;
}

@keyframes animate{
    0%{
        cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
    }
    20%{
        cursor: url("http://jantimon.nl/running_man/running_man_2.png"), auto;
    }
    40%{
        cursor: url("http://jantimon.nl/running_man/running_man_3.png"), auto;
    }
    60%{
        cursor: url("http://jantimon.nl/running_man/running_man_4.png"), auto;
    }
    80%{
        cursor: url("http://jantimon.nl/running_man/running_man_5.png"), auto;
    }
    100%{
        cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
    }
}

.App-header {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgba(0, 0, 0, 0.4);
}

#footer{
    margin-top: auto;
}
#footer ul{
    list-style-type: none;
    padding: 10px;
}
#footer ul li{
    display:inline;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

aside {
    animation: animate 0.25s infinite;
    padding: 3em 3em 50px;
    overflow: auto;
    width: 15%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.04);
    height: 100%;
    overflow-y: scroll;
    z-index: 1001;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#page-aside {
    width: 15%;
    background: rgba(0, 0, 0, 0.04);
}

#page-nav ul {
    margin: 0 0 10px 0;
    list-style-type: none;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    position: fixed;
    padding: 10px 0;
    font-family: "Montserrat", Arial, sans-serif;

}
.link{
    color: rgba(0, 0, 0, 0.4);
}
.link:hover {
    color:rgba(7, 8, 6, 0.66);
}

.des {
    display: flex;
    min-height: 100%;
    margin-left: 15%;
    animation: animate 0.25s infinite;
    #background-image: url("../images/bg.png") ;
    background-size: cover;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute;
}

#desc img {
    height:250px;
    width:250px;
    border-radius: 50%;
    margin-top: 50px;
}

@media (max-width: 920px) {
    .des{
        display: flex;
        margin-left: 15%;
        #background-image: url("../images/bg.png") ;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: absolute;
    }
    .home{
        float: left;
    }
    #main{
        width: 15%;
    }
    #page-aside {
        width: 15%;
        height: 50%;
        padding-top: 2em;
        background: rgba(0, 0, 0, 0.04);
    }

    #page-aside #page-logo {
        margin-bottom: 2em;
        display: block;
        width: 15%;
        font-weight: 100;
        font-size: 10px; }

    #page-nav ul {
        margin: 0 0 15px 0;
        list-style: none;
        font-size: 10px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.4);
        text-decoration: none;
        position: fixed;
        padding: 10px 0;
        font-family: "Montserrat", Arial, sans-serif;
    }

    p{
        font-size: 10px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 30px;
    }
}